zsh/.config/zsh/.histfile
zsh/.config/zsh/plugins/
zsh/.config/zsh/.zcompdump*

copyq/.config/copyq/*.dat
copyq/.config/copyq/copyq.lock
copyq/.config/copyq/copyq_tabs.ini
copyq/.config/copyq/copyq_geometry.ini

ranger/.config/ranger/plugins/__pycache__/__init__.cpython-39.opt-1.pyc
ranger/.config/ranger/plugins/ranger_devicons/__pycache__/__init__.cpython-39.opt-1.pyc
ranger/.config/ranger/plugins/ranger_devicons_back/__pycache__/__init__.cpython-39.opt-1.pyc
ranger/.config/ranger/__pycache__/commands.cpython-39.opt-1.pyc
ranger/.config/ranger/plugins/__pycache__/__init__.cpython-310.opt-1.pyc
ranger/.config/ranger/plugins/ranger_devicons_back/__pycache__/
ranger/.config/ranger/speedcc.fit

scripts/.local/bin/.msi-rgb
scripts/.local/bin/pip3.10
scripts/.local/bin/rust-analyzer

scripts/.local/include/
scripts/.local/lib/
scripts/.local/share/
scripts/.local/state/
scripts/.local/src/
scripts/.local/bin/virtualenv
scripts/.local/bin/lvim

lazygit/.config/lazygit/state.yml
