# nm-applet
nm-applet --indicator &

# Bluetooth
blueman-applet &

# Auto mount external devices
udiskie &

# Starting compositor
picom -b -no-fading-openclose
# picom -b --animations

# Stop screen from going blank
xset s off
xset -dpms
xset s noblank

# Faster key repeat and delay => laptop keyboard
xset r rate 210 40

# Faster key repeat and delay => external keyboard
# xset r rate 150 20

# Notification center
dunst &

# Volume tray
pasystray --notify=sink_default &

# Hide Cursor when typing
xbanish &

# Open flameshot on startup
flameshot &

# Open Slack
# slack &

# Element
# element-desktop &

# Open CopyQ
QT_QPA_PLATFORMTHEME=qt5ct COPYQ_SESSION_COLOR=gray copyq &

# Wallpaper
feh --bg-fill --randomize ~/Pictures/wallpapers/* &

# Save your eyes
redshift-gtk -l 17.4545951:78.5527655 &

# Syncthing
syncthing --no-browser &

# Spotify
# spotify-tray &

export LANG=en_US.UTF-8

export EDITOR="lvim"
export TERMINAL="st"
export BROWSER="google-chrome-stable"

export PATH=$PATH:~/.local/bin

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

teams &
# startteams &
# webex &

# discord
# discord &

# video wallpaper
# videobg &

# remap caps to escape
# setxkbmap -option caps:escape

# load Xresources
# xrdb ~/.Xresources
xrdb merge ~/.Xresources

# mullvad connect

# Tools
# carbon-now-cli -> code screenshots
# terminalizer -> record terminal 

# mpv --no-video ~/Documents/startup_win.m4a &
